<header class="site-header">
  <div class="container site-header__inner">
    <a class="brand" href="{{ "/" | relURL }}" aria-label="Sibryl home">
      <img class="brand__mark" src="{{ "/images/brand/sibryl-mark.png" | relURL }}" alt="">
      <span>
        Sibryl
      </span>
    </a>
    {{ with site.Data.site.navigation.primary }}
      <nav aria-label="Primary navigation">
        <ul class="nav-list">
          {{ range . }}
            <li>
              <a href="{{ .href }}">
                {{ .label }}
              </a>
            </li>
          {{ end }}
        </ul>
      </nav>
    {{ end }}
  </div>
</header>
